<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kakaoPay</title>
</head>
<body>
    <h2>카카오 페이</h2>
    <form action="/pay/kakaoPayLogic" method="get">
        <div>
            <p>고객명 : {{user.nickname}}</p>
            <p>price : {{goods.price}} 원 </p>
            <p>name : {{goods.name}}</p>
        
        </div>
        <input type="submit"><a href = "{%url 'kakaoPayLogic' goods.id %}">결제</a>
    </form>
</body>
</html>