header {
    min-height: 20vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav .link{
    text-decoration: none;
    color: black;
}

#header_menu{
    margin-left: 80%;
}

#header_menu ul li{
    list-style: none;
    float: left;
    color: gray;
}

#header_menu .link{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

header img { 
    width:180px;
    height:50px;
    margin-left: 40%;
}


#search-box{
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 195px;
    height: 25px;
    margin-left: 80%;
}


.search-btn{
    background-color: #F6F6F6;
    border-radius: 50%;
}

.search-txt{
    border:none;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    text-align: center;
}

.fas{
    color:black;
}

#position-btn{
    position: absolute;
    left: 95%;
    top:61%;
    font-size: 20px;
}