<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색</title>
    <link rel="stylesheet" href="../../static/css/search.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../static/css/owl.theme.default.css" />
   

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/paging.js"></script>
    <script type="text/javascript" src="../../static/js/category.js"></script>
    <script>
    $(document).on('mouseover', '.topMenu span', function () {
    $('.sub').slideDown(700);
    });
    $(document).on('mouseover', 'div', function () {
    if (!$(this).hasClass('topMenu')) {
    $('.sub').slideUp(500);
    }
    }); 

    </script>

    <script src="./lib/jquery-3.4.1.js"></script>
    <script src="../../static/js/owl.carousel.min.js"></script>
    <script src="../../static/js/app.js"></script>
</head>

<body>
    <header>
      <div id="header_menu">
        <ul>
            {% if not user_pk %}
            <li><a href="{%url 'login' %}" class="link">로그인 </a></li>
            <li><a href="{% url 'user_create' %}" class="link">회원가입</a></li>
            {% endif %}
            {% if user_pk %}
            <li><a href="{%url 'logout'%}"class="link">로그아웃 </a></li>
            <li><a href="{% url 'user_read' user_pk%}"class="link">마이페이지</a></li>
            {% endif %}
        </ul> 
    </div>
        <br/><br/>
        <a href="{% url 'home'%}"><img src="../../static/img/logo.png"></a>

        <div id="box">
            <div id="search-box">
                <form action="{% url 'search'%}" method='GET'>
                 <input type="text" name = "searchtext" placeholder="검색어를 입력하세요" class="search-txt" />
                 <!--<a href = "{%url 'search'%}">-->
                 <input type="submit" value="검색">
                 <!--</a> -->
                </form>
              
           </div>
            <a class="position-btn" href="#"><i class="fas fa-map-marker-alt" id="position-btn"></i></a>
        </div>
    </header>

    <nav>
      <div class="topMenu">
          <ul>
              <li class="main" id="li_left">
                <span><i class="fas fa-bars"><a class="link" href="#"> 전체 카테고리 </a></i></span>
                <ul class="sub" style="display:none">
                  
                  <li>
                    <i class="fas fa-cookie"><a class="link" href="{% url 'goods_read_food' %}"><input type="submit" value="food" name="food"></a></i>
                </li>
                <li>
                    <i class="fas fa-eye-dropper"><a class="link" href="{% url 'goods_read_beauty' %}"><input type="submit" name="beauty" value="beauty"></a></i>
                </li>
                  
                </ul>
              </li>
          </ul>
      </div>
      &nbsp;
      <strong><a class="link" href="{%url 'goods_create'%}"> 매물등록하기 </a></strong>
  </nav>
    <br/>
    <hr>
    <div id="hrBox">
      <span>카테고리 > </span> <span><i class="fas fa-search" style="color: darkgray;"></i>  검색페이지</span>
    </div>
    <hr id="hr2">
    <br/><br/><br/>

    
    <section id="section1">
        <h3 id="s1">상품검색</h3><br/>
        <div id="search-box1">
            <form action="{% url 'search'%}" method='GET'>
            <input type="text" name = "searchtext" placeholder="검색어를 입력하세요" class="s2" />
            <button type="button" id ="recBtn">검색</button>
            <br/><br/><br/><br/>
          </form>
        </div>
    </section>
    {%if not count_user %}

    <section id="section2">
      <div>
        <span id="se1">작성자 게시글</span><span id="se2">   0건</span><br/>
        <hr id="hrf2"><br/><br/><br/>
        <i class="fas fa-layer-group" style="color: #dcdcdc;"></i><br/>
        <span id="se3">아직 등록된 게시글이 없어요.</span><br/><br/>
        <a href="{%url 'goods_create' %}"><button type="text" id="se2Btn"> 등록하러가기</button></a>
      </div>
    </section><br/><br/><br/><br/>
    {%endif%}

   {%if count_user %}
   <section id="section2">
    <div>
      <span id="se1">작성자 게시글</span><span id="se2">   {{count_user}}건</span><br/>
      <hr id="hrf2"><br/><br/><br/>
      <div id="cards1">
        {% for g in result_user1 %}<!--여기 for문으로 card1 2 3... 얘네들이 정보에 들어와야함-->
        <div id="card1"> 
          <div id="imgDv"><img src={{g.thumbnail.url}}></div>
          <div id="discount">
            24%
          </div>
          <br/><br/>
          <div>
            <a href = "{%url 'goods_read_one' g.id%}"><div id="card_title">{{g.title}}</div></a>
            <div id="amount">
              <span id="amount1">정상가</span> <span id="amount1_2">{{g.ori_price}}</span><br/>
              <span id="amount2">공구가</span> <span id="amount2_2">{{g.price}}</span>
            </div>
            <div id="card_bottom">
              <span id="time">{{g.expired}}</span>
              <span id="total_person">{{g.pre_people}} / {{g.recruitment_no}}</span>
            </div>
          </div>
        </div>
    </div>
  </section>
    {%endfor%}
  </div>
  <br/><br/>
  

        <div id="cards1">
          {% for g in result_user2 %}<!--여기 for문으로 card1 2 3... 얘네들이 정보에 들어와야함-->
          <div id="card1"> 
            <div id="imgDv"><img src={{g.thumbnail.url}}></div>
            <div id="discount">
              24%
            </div>
            <br/><br/>
            <div>
              <a href = "{%url 'goods_read_one' g.id%}"><div id="card_title">{{g.title}}</div></a>
              <div id="amount">
                <span id="amount1">정상가</span> <span id="amount1_2">{{g.ori_price}}</span><br/>
                <span id="amount2">공구가</span> <span id="amount2_2">{{g.price}}</span>
              </div>
              <div id="card_bottom">
                <span id="time">{{g.expired}}</span>
                <span id="total_person">{{g.pre_people}} / {{g.recruitment_no}}</span>
              </div>
            </div>
          </div>
      </div>
      </section>
      {%endfor%}
  </div>
  <br/><br/>
  {%endif%}

    {%if not count_goods %}
    <section id="section2">
      <div>
        <span id="se1">주변 지역 매물</span><span id="se2">0건</span><br/>
        <hr id="hrf2"><br/><br/><br/>
        <i class="fas fa-layer-group" style="color: #dcdcdc;"></i><br/>
        <span id="se3">주변 지역 매물이 없습니다.</span><br/><br/>
        <a href="{%url 'goods_create'%}"><button type="text" id="se2Btn"> 등록하러가기</button></a>
      </div>
    </section><br/><br/><br/><br/><br/><br/>
    {%endif%}


    {%if count_goods %}
   <section id="section2">
    <div>
      <span id="se1">작성자 게시글</span><span id="se2">   {{count_goods}}건</span><br/>
      <hr id="hrf2"><br/><br/><br/>
      <div id="cards1">
        {% for g in result_goods1 %}<!--여기 for문으로 card1 2 3... 얘네들이 정보에 들어와야함-->
        <div id="card1"> 
          <div id="imgDv"><img src={{g.thumbnail.url}}></div>
          <div id="discount">
            24%
          </div>
          <br/><br/>
          <div>
            <a href = "{%url 'goods_read_one' g.id%}"><div id="card_title">{{g.title}}</div></a>
            <div id="amount">
              <span id="amount1">정상가</span> <span id="amount1_2">{{g.ori_price}}</span><br/>
              <span id="amount2">공구가</span> <span id="amount2_2">{{g.price}}</span>
            </div>
            <div id="card_bottom">
              <span id="time">{{g.expired}}</span>
              <span id="total_person">{{g.pre_people}} / {{g.recruitment_no}}</span>
            </div>
          </div>
        </div>
    </div>
  </section>
    {%endfor%}
  </div>
  <br/><br/>
  

        <div id="cards1">
          {% for g in result_goods2 %}<!--여기 for문으로 card1 2 3... 얘네들이 정보에 들어와야함-->
          <div id="card1"> 
            <div id="imgDv"><img src={{g.thumbnail.url}}></div>
            <div id="discount">
              24%
            </div>
            <br/><br/>
            <div>
              <a href = "{%url 'goods_read_one' g.id%}"><div id="card_title">{{g.title}}</div></a>
              <div id="amount">
                <span id="amount1">정상가</span> <span id="amount1_2">{{g.ori_price}}</span><br/>
                <span id="amount2">공구가</span> <span id="amount2_2">{{g.price}}</span>
              </div>
              <div id="card_bottom">
                <span id="time">{{g.expired}}</span>
                <span id="total_person">{{g.pre_people}} / {{g.recruitment_no}}</span>
              </div>
            </div>
          </div>
      </div>
      </section>
      {%endfor%}
  </div>
  <br/><br/>
  {%endif%}

    


    <!--광고배너-->
    <div id="fAd">
      <img src="../../static/img/advertisement3.png" id="advertisement3">
      <img src="../../static/img/advertisement4.png" id="advertisement4">
    </div id="fAd">

    <br/><br/>
    <footer>
      <br/><br/>
      <div class="footer">
        <div id="parft">
          <div id="chift">
            고객센터<br />
            1633-9311<br />
          </div>
          <div id="chift">
            주식회사 공구함<br />
            497 제 2021-경기판교-01325호<br />
            +44 345 678 903<br />
          </div>
          <div id="chift">
            사업자 정보 확인<br />
            사업자 등록번호:232-2322-52342<br />
            주소 : 경기 판교 백현동 153, 100층<br />
            제휴문의 : LALALA@naver.com
          </div>
        </div>
      </div>
    </footer>
</body>
</html>